---
layout: default
title: Home
---

{% if page.url == "/" %}


<section class="welcome">
    <div class="section-title">
        <h2><span>Welcome!</span></h2>
    </div>
    <div class="row">
        <p>
            Welcome to a developing home for our research group!  We love to tackle problems in medical imaging using engineering-driven approaches to improve human health.   Our work mostly focuses on MRI (although we dabble in CT and PET) and on projects that at or near the stage of human studies.
        </p>
    
        <p>
We work on a range of projects, taking on new ones opportunistically, and projects currently include Metabolic MRI with hyperpolarized contrast agents, Simultaneous PET/MR imaging systems, Lung MRI, Myelin MRI, Radiation treatment planning, and Prostate and kidney cancer prediction based on historical imaging data.
        </p>
    
        <p>
            This website is very much in a beta phase, please also visit our <a target="_blank" href="https://radiology.ucsf.edu/research/labs/larson"> UCSF Group Website</a> for more information. 
        </p>

    </div>
</section>

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured Posts</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Twitter -->
<section class="news">
    <div class="section-title">
        <h2><span>News</span></h2>
    </div>
    <div class="row" style="font-size:200%">
        <a href="https://twitter.com/pezlarson/timelines/669379340153450496"><i class="fab fa-twitter fa-3x"></i> Larson Group News on Twitter</a>
    </div>
</section>

